{% extends 'base.html' %} {% block title %}
<title>Add New Student</title>
{% endblock %} {% block content %}
<h1>Add new student form</h1>
<form action="/student/add" method="post">
  <div class="container">
    <label for="firstname"><b>Student's First Name</b></label>
    <input
      type="text"
      placeholder="Enter Student's First Name"
      name="firstname"
      required
    />

    <label for="lastname"><b>Student's Last Name</b></label>
    <input
      type="text"
      placeholder="Enter Student's Last Name"
      name="lastname"
      required
    />
    <button type="submit">Login</button>
  </div>
</form>
{% endblock content %}
