{% extends 'base.html' %} {% block title %}
<h1>Teacher Login</h1>
{% endblock %} {% block content %}
<form action="/login" method="post">
  <div class="imgcontainer">
    <img src="{{url_for('static',filename="defaultStudent.png")}}" alt="Avatar"
    class="avatar" />
  </div>

  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required />

    <label for="password"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      required
    />

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember" /> Remember me
    </label>
  </div>

  <div class="container" style="background-color: #f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <a href="/quiz/" alt="Add Student link">View Anonimized Student Grades</a>
    <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
  </div>
</form>
{% endblock content %}
